.task {
    position: relative;
    background-color: #fff;
    margin: auto;
}

.task:not(.last-task)::before {
    content: '';
    position: absolute;
    background: #000;

    width: var(--line-width);
    height: 2px;

    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    z-index: -1;
}

.merge::before,
.merge::after {
    content: '';
    position: absolute;
    background: #0000;

    border: 2px solid #000;

    top: 50%;
    right: 0;

    z-index: -1;
}

.merge::before {
    width: 75px;
    height: 91px;

    border-bottom-right-radius: 50px;
    border-top: none;
    border-left: none;

    transform: translate(100%, -100%);
}

.merge::after {
    width: 75px;
    height: 90.5px;

    border-top-left-radius: 50px;
    border-right: none;
    border-bottom: none;

    transform: translate(calc(100% + 75px), -200%);
}

.task-name {
    font-size: 15px;
    text-align: center;
    text-wrap: balance;

    position: absolute;
    width: max-content;

    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.task-box {
    padding: 15px;
    border: 2px solid #000;
    border-radius: 50%;

    width: fit-content;
    aspect-ratio: 1 / 1;
}

.task-icon {
    width: 50px;
    aspect-ratio: 1 / 1;

    stroke: #000;
    stroke-width: 1.8;
}